<%= provide(:title, "Dashboard") %>
<p></p>
<div class="content">
  <h1> Dashboard </h1>


  <p> Welcome to the TNR Health Tracker </p>

  You currently weigh <%= @current_weight %> pounds.
  <br>
  Your starting weight was <%= @first_weight %> pounds.
  <br>
  You have <%= @current_weight > @first_weight ? "gained" : "lost" %>
   <%= (@current_weight - @first_weight).abs %> pounds!
  <br>
  You have walked <%= @steps %> steps today. That's <%= @distance %> miles!
  <br>
  You have burned <%= @calories_burned%> calories today.




  <p class="bottom"></p>
</div>
