<%= form_for(@calory) do |f| %>
  <% if @calory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calory.errors.count, "error") %> prohibited this calory from being saved:</h2>

      <ul>
      <% @calory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :in %><br>
    <%= f.number_field :in %>
  </div>
  <div class="field">
    <%= f.label :out %><br>
    <%= f.number_field :out %>
  </div>
  <div class="field">
    <%= f.label :entry_date %><br>
    <%= f.date_select :entry_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
