<p id="notice"><%= notice %></p>

<h1>Listing Calories</h1>

<table>
  <thead>
    <tr>
      <th>In</th>
      <th>Out</th>
      <th>Entry date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calories.each do |calory| %>
      <tr>
        <td><%= calory.in %></td>
        <td><%= calory.out %></td>
        <td><%= calory.entry_date %></td>
        <td><%= link_to 'Show', calory %></td>
        <td><%= link_to 'Edit', edit_calory_path(calory) %></td>
        <td><%= link_to 'Destroy', calory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Calory', new_calory_path %>
