<div class="content">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Taken:</strong>
    <%= @step.taken %>
  </p>

  <p>
    <strong>Entry date:</strong>
    <%= @step.entry_date %>
  </p>

  <%= link_to 'Edit', edit_step_path(@step) %> |
  <%= link_to 'Back', steps_path %>
  <p class="bottom"></p>

</div>
